@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply [--max-h:calc(var(--max-w)/1.778)] [--max-w:theme(screens.2xl)];

    --primary: 335.3 94.8% 45.7%;
    --primary-c: 341 69.2% 98%;

    --info: 64 69% 46%;
    --info-c: 64 69% 86%;

    --warning: 64 69% 46%;
    --warning-c: 64 69% 86%;

    --danger: 64 69% 46%;
    --danger-c: 64 69% 86%;

    --radius-sm: 1.8rem;
    --radius-md: 1.9rem;
    --radius-lg: 2rem;
  }

  .light {
    --main: 333.8 61.5% 94.9%;
    --content: 0 0% 0%;

    --inverted: 0 0% 0%;
    --inverted-content: 333.8 61.5% 94.9%;

    --muted: 0 20% 95%;
    --muted-content: 0 60% 19%;

    --secondary: 334.8 61% 83.9%;
    --secondary-c: 340 60% 15.1%;

    --accent: 215 61.8% 44.1%;
    --accent-c: 250.9 64% 84.9%;
  }

  .dark {
    --main: 333.8 51.5% 3.1%;
    --content: 0 0% 100%;

    --inverted: 0 0% 100%;
    --inverted-content: 333.8 51.5% 3.1%;

    --muted: 333.8 51.5% 7.1%;
    --muted-content: 0 0% 70%;

    --secondary: 340 12% 4.9%;
    --secondary-c: 340 62% 84.9%;

    --accent: 251.1 22.1% 62.2%;
    --accent-c: 251.1 62.1% 82.2%;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-main text-content transition-bg [&::-webkit-scrollbar-thumb:hover]:bg-content/20 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-content/10 [&::-webkit-scrollbar]:w-1.5;
  }

  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-current;
  }

  :where(h1, h2, h3, h4, h5, h6, p, span, button) {
    @apply w-fit;
  }

  :where(span, a) {
    @apply inline-block;
  }
}

@layer utilities {
  .max-w {
    @apply max-w-bounds;
  }

  .transition-color {
    transition-duration: 300ms;
  }

  .transition-bg {
    transition-duration: 300ms;
  }

  .vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .outline-text {
    @apply [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] [-webkit-text-stroke-color:currentColor] [-webkit-text-stroke-width:2px];
  }
}
