@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --border: 0 0 70;
  --placeholder: 215 16 57;

  --body: 0 0 98;
  --body-hover: 0 0 94;
  --body-emphasis: 222 47 0;

  --primary: 346 89 60;
  --primary-hover: 346 89 64;
  --primary-emphasis: 346 89 100;

  --muted: 222 47 12;
  --muted-hover: 222 47 16;
  --muted-emphasis: 222 47 100;

  --success: 142 71 55;
  --success-hover: 142 71 59;
  --success-emphasis: 142 71 100;

  --danger: 0 84 65;
  --danger-hover: 0 84 69;
  --danger-emphasis: 0 84 100;

  --warning: 38 92 60;
  --warning-hover: 38 92 64;
  --warning-emphasis: 38 92 100;
}

@theme inline {
  --color-*: initial;
  --color-inherit: inherit;
  --color-transparent: transparent;
  --color-current: currentColor;

  --color-border: hsl(var(--border));
  --color-placeholder: hsl(var(--placeholder));

  --color-body: hsl(var(--body));
  --color-body-hover: hsl(var(--body-hover));
  --color-body-emphasis: hsl(var(--body-emphasis));

  --color-primary: hsl(var(--primary));
  --color-primary-hover: hsl(var(--primary-hover));
  --color-primary-emphasis: hsl(var(--primary-emphasis));

  --color-muted: hsl(var(--muted));
  --color-muted-hover: hsl(var(--muted-hover));
  --color-muted-emphasis: hsl(var(--muted-emphasis));

  --color-success: hsl(var(--success));
  --color-success-hover: hsl(var(--success-hover));
  --color-success-emphasis: hsl(var(--success-emphasis));

  --color-danger: hsl(var(--danger));
  --color-danger-hover: hsl(var(--danger-hover));
  --color-danger-emphasis: hsl(var(--danger-emphasis));

  --color-warning: hsl(var(--warning));
  --color-warning-hover: hsl(var(--warning-hover));
  --color-warning-emphasis: hsl(var(--warning-emphasis));

  --spacing-px: 1px;

  --width-9by10: 90%;
  --width-3xs: var(--container-3xs);
  --width-2xs: var(--container-2xs);
  --width-xs: var(--container-xs);
  --width-sm: var(--container-sm);
  --width-md: var(--container-md);
  --width-lg: var(--container-lg);
  --width-xl: var(--container-xl);
  --width-2xl: var(--container-2xl);
  --width-3xl: var(--container-3xl);
  --width-4xl: var(--container-4xl);
  --width-5xl: var(--container-5xl);
  --width-6xl: var(--container-6xl);
  --width-7xl: var(--container-7xl);

  --min-width-bounds: 120rem;
  --min-height-bounds: 60rem;
  --min-width-3xs:
    var(--container-3xs), --min-width-2xs: var(--container-2xs),
    --min-width-xs: var(--container-xs), --min-width-sm: var(--container-sm),
    --min-width-md: var(--container-md), --min-width-lg: var(--container-lg),
    --min-width-xl: var(--container-xl), --min-width-2xl: var(--container-2xl),
    --min-width-3xl: var(--container-3xl), --min-width-4xl: var(--container-4xl),
    --min-width-5xl: var(--container-5xl), --min-width-6xl: var(--container-6xl),
    --min-width-7xl: var(--container-7xl), --max-width-bounds: 120rem;
  --max-height-bounds: 60rem;
  --mex-width-3xs:
    var(--container-3xs), --mex-width-2xs: var(--container-2xs),
    --mex-width-xs: var(--container-xs), --mex-width-sm: var(--container-sm),
    --mex-width-md: var(--container-md), --mex-width-lg: var(--container-lg),
    --mex-width-xl: var(--container-xl), --mex-width-2xl: var(--container-2xl),
    --mex-width-3xl: var(--container-3xl), --mex-width-4xl: var(--container-4xl),
    --mex-width-5xl: var(--container-5xl), --mex-width-6xl: var(--container-6xl),
    --mex-width-7xl: var(--container-7xl), --breakpoint-3xl: 120rem; /* 1920px */

  --radius: var(--radius-lg);

  --ease-backOut: cubic-bezier(0.34, 1.56, 0.64, 1);

  --animate-marquee: marquee var(--duration, 10s) linear infinite var(--direction, forwards);

  @keyframes marquee {
    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  mark {
    @apply bg-clip-text not-italic [-webkit-text-fill-color:transparent] [-webkit-text-stroke-color:currentColor] [-webkit-text-stroke-width:--spacing(0.5)];
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-primary;
  }

  ::placeholder {
    @apply placeholder-placeholder;
  }

  .border,
  .border-t,
  .border-r,
  .border-b,
  .border-l,
  .border-x,
  .border-y {
    @apply border-solid border-border;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}
